:root{
  --my-color1: #77acf1;
  --my-color2: #a3d2ca;
  --my-color3: #325288;
  --my-color4: #5aa897;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background: var(--my-color1);
}

body header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

body header h1{
  font-size: 22px;
  line-height: 64px;
  margin: 0;
  padding: 0 16px;
  color: #fff;
}

body header .top .logo{
  width: 150px;
  height: 80px;
}

body a{
  text-decoration: none;
}

body header .top {
  display: flex;
  justify-content: space-between;
  background-color: var(--my-color2);
}

body header li{
  list-style-type: none;
}

/* +++++++++++++ */
/* HumbergerMenu */
/* +++++++++++++ */
.pc-menu{
  display: none;
}

.mobile-menu{
  margin: 0 16px;
  color: #fff;
}

.mobile-menu #open{
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.mobile-menu #open.hide{
  display: none;
}

.showing-menu{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(163, 210, 202, 0.9);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.showing-menu #close{
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
  color: #fff;
}

.showing-menu.show{
  opacity: 1;
  pointer-events: auto;
}

.showing-menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.showing-menu li{
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: transform .3s, opacity .3s;
}
.showing-menu li{
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: transform .3s, opacity .3s;
}

.showing-menu.show li{
  opacity: 1;
  transform: none;
}

.showing-menu.show li:nth-child(1){
  transition-delay: .1s;
}
.showing-menu.show li:nth-child(2){
  transition-delay: .2s;
}
.showing-menu.show li:nth-child(3){
  transition-delay: .3s;
}

.showing-menu.show li a{
  color: #fff;
}

/* ++++++++++++++++++++ */
/* お問い合わせフォーム */
/* ++++++++++++++++++++ */
.forms{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 295px;
  height: 1200px;
  margin: auto;
}
/* +++++ */
/* Q & A */
/* +++++ */

.fqa dl{
  padding: 20px;
}

.fqa dd{
  margin: 20px;
}

/* ++++++++ */
/* About Us */
/* ++++++++ */

.message{
  background-color: moccasin;
  border-radius: 5px;
  margin-bottom: 20px;
}

.message h1{
  padding: 15px;
  text-align: center;
  margin: 0;
  font-size: 26px;
}

.message p{
  margin: 0;
  padding:0 15px;
  font-size: 18px;
  line-height: 2.5;
}
/* +++++ */
/* SPACE */
/* +++++ */
.space2{
  height: 136px;
}

/* ++++ */
/* MENU */
/* ++++ */
menu{
  margin: 0;
}

body header menu{
  padding: 0;
  /* margin: 5px; */
}

body header menu ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

body header menu ul li{
  text-align: center;
  font-size: 11px;
  line-height: 70px;
  width: 100%;
  background-color: var(--my-color1);
  border: 1px solid var(--my-color3);
}

body header menu ul li a{
color: #fff;
}

body header menu ul li a:hover{
  background: var(--my-color3);
}

/* ++++++++++++++ */
/* コンテンツ共通 */
/* ++++++++++++++ */
main{
  padding: 10px 0;
  background: var(--my-color1);
}

.content{
  color: #333;
  background-color: #fff;
  margin: 20px;
  border-radius: 10px ;
}

.content section{
  padding: 20px;
}

.content h1#title {
  font-size: 26px;
  text-align: center;
  margin: 0;
  background: var(--my-color2);
  border-radius: 5px ;
  color: #fff;
  line-height: 40px;
  margin-bottom: 20px;
}

.content h1::before{
  content: ' ';
  width: 5px;
  line-height: 26px;
  background: var(--my-color4);
}

.content h2{
  text-align: center;
}

/* ++++++++++ */
/* 共通ボタン */
/* ++++++++++ */
.btn a{
  color: #fff;
  display: block;
  text-align: center;
  width: 240px;
  line-height: 34px;
  margin: auto;
  background: var(--my-color3);
  border-radius: 17px;
}

/* ++++++++++++ */
/* 繊細さんの森 */
/* ++++++++++++ */
.forest h2{
  font-size: 18px;
}

.sns{
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0;
}

.sns li{
  list-style: none;
}

.sns img{
  width: 40px;
  height: 40px;
  border: 0.4px solid #ccc;
  border-radius: 8px;
  margin: 10px 20px;
}

.sns p{
  margin: 0;
  color: var(--my-color1);
}
/* ++++++++++++++++ */
/* 繊細さんのコラム */
/* ++++++++++++++++ */
.column {
  height: 400px;
}

.column article{
  margin: 20px;
}

.column .flexbox{
  display: flex;
}

.title{
  border-radius: 12px;
  background: var(--my-color1);
  text-align: center;
  line-height: 25px;
}

.column time{
  margin-left: 10px;
  vertical-align: bottom;
}

.column .title p{
  margin: 0 10px;
}

.column article a p{
  margin-left: 20px;
  color: #333;
  text-decoration: underline;
}

/* ++++++++++++++++ */
/* 繊細さんのブログ */
/* ++++++++++++++++ */
.blog h2{
  text-align: center;
}

.blog article{
  border-bottom: 1px dotted #333;
  margin: 0;
}

.blog .article-box a{
  display: flex;
  width: 100%;
}

.blog .article-box img{
  width: 120px;
  height: 80px;
  padding: 10px;
}

.blog .letter{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.blog .article-box p{
  margin: 0;
  padding: 10px;
}

.blog article time{
  margin-left: auto;
}

/* ++++++++++++++++ */
/* 繊細さんの仕事場 */
/* ++++++++++++++++ */
.office{
  height: 400px;
}

.office h2{
  text-align: center;
}


/* ++++++++++++++++++++++ */
/* 繊細さんのコミュニティ */
/* ++++++++++++++++++++++ */
.community{
  height: 400px;
}

.community h2{
  text-align: center;
}



/* ++++++ */
/* footer */
/* ++++++ */
footer{
  background: #fff;
}

footer span{
  display: flex;
  justify-content: center;
  line-height: 42px;
}

footer #footer-sns{
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0;
}

footer #footer-sns a{
  display: flex;
}

footer #footer-sns a p{
  line-height: 52px;
}

footer #footer-sns img{
  width: 30px;
  height: 30px;
  border: 0.4px solid #ccc;
  border-radius: 8px;
  margin: 10px;
}

/* +++++++++ */
/* copyright */
/* +++++++++ */

footer .copyright p{
  text-align: center;
  color: #333;
  margin: 0;
  padding: 20px;
}


/* ++++++++++++++++++++++++ スイッチ ++++++++++++++++++++++++ */
@media(min-width:490px){

/* +++ */
/* TOP */
/* +++ */
body header .top{
  position: static;
}

header{
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

header .top h1{
  line-height: 80px;
}

body header nav li{
  margin-left: 5px;
}

.pc-menu{
  display: block;
  margin-left: auto;
}

.pc-menu ul{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pc-menu a{
  display: block;
  width: 100px;
  line-height: 80px;
  text-align: center;
  color: #fff
}

.pc-menu a:hover{
  background: var(--my-color4);
}

.mobile-menu{
  display: none;
}

.showing-menu #close{
  display: none;
}

/* ++++++++++++++++++++ */
/* お問い合わせフォーム */
/* ++++++++++++++++++++ */
.forms{
  max-width: 570px;
  max-height: 930px;
  margin: auto;
}

/* +++++ */
/* SPACE */
/* +++++ */
.space2{
  height: 120px;
}

/* ++++ */
/* MENU */
/* ++++ */
menu{
  margin: 0;
}

menu ul{
  display: flex;
  margin: 0;
}

body header menu ul li {
  width: 100%;
  line-height: 40px;
  height: auto;
}

body header menu ul a {
  display: block;
  width: 100%;
  line-height: 40px;
  height: auto;
  font-size: 16px;
}

/* ++++++++++++++ */
/* コンテンツ共通 */
/* ++++++++++++++ */
main{
  max-width: 650px;
  margin: auto
};

/* ++++++++++++ */ 
/* 繊細さんの森 */
/* ++++++++++++ */
.sns{
  margin: 16px;
  /* justify-content: space-between; */
}

.sns li{
  margin: 20px;
}

.sns img{
  width: 60px;
  height: 60px;
}

/* ++++++++++++++++ */
/* 繊細さんのブログ */
/* ++++++++++++++++ */
.blog .article-box img{
  width: 160px;
  height: 80px;
  padding: 10px;
}

/* ++++++ */
/* footer */
/* ++++++ */
footer #footer-sns{
  height: 82px;
}

}

/* ++++++++++++++++++++++++ スイッチ ++++++++++++++++++++++++ */
@media(min-width:700px){

/* ++++ */
/* MENU */
/* ++++ */
body header menu ul li{
  height: 50px;
}

body header menu ul a {
  font-size: 23px;
  line-height: 52px;
}

/* ++++++++++++++++++++ */
/* お問い合わせフォーム */
/* ++++++++++++++++++++ */
.forms{
  max-width: 720px;
  max-height: 900px;
  margin: auto;
}

/* +++++ */
/* SPACE */
/* +++++ */
.space2{
  width: 100%;
  height: 160px;
} 

/* ++++++++++++++ */
/* コンテンツ共通 */
/* ++++++++++++++ */
main{
  max-width: 800px;
  margin: auto
};

/* ++++++ */
/* footer */
/* ++++++ */
#footer-sns  {
  justify-content: space-between;
}

footer #footer-sns img{
  width: 40px;
  height: 40px;
  border: 0.4px solid #ccc;
  border-radius: 8px;
  margin: 20px;
}
footer #footer-sns a p{
  line-height: 80px;
}

}